<h1>Hello <%= @stylist.name %></h1>

<h3><%= @stylist.clients.size %> Clients:</h3>

<% @stylist.clients.each do |client| %>
  <%= client.name %>
  <br></br>
<% end %>
<a href="/clients/new">Add New Client</a>
